<div class="modal fade" id="editAlbumModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"><i class="fas fa-edit"></i> Editar Album1</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-hover table-striped">
                    <tbody>
                        <tr>
                            <td style="vertical-align: middle; width: 10%; padding-right: 3px">
                                <img src="https://live.staticflickr.com/4561/38054606355_26429c884f_b.jpg"
                                    style="height: 50px;">

                            </td>
                            <td style="vertical-align: middle; padding-left: 2px">Imagen1</td>

                            <td align="right" style="vertical-align: middle; width: 10%">
                                <button class="btn btn-danger tooltip-test" title="Eliminar">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: middle; width: 10%; padding-right: 3px">
                                <img src="https://4.img-dpreview.com/files/p/E~TS590x0~articles/3925134721/0266554465.jpeg"
                                    style="height: 50px;">

                            </td>
                            <td style="vertical-align: middle; padding-left: 2px">Imagen2</td>

                            <td align="right" style="vertical-align: middle; width: 10%">
                                <button class="btn btn-danger tooltip-test" title="Eliminar">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <form action="" method="" enctype="multipart/form-data">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="image">
                        <label class="custom-file-label">Seleccionar Archivo...</label>
                    </div>
                    <button class="btn btn-outline-info">Añadir imagen</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>