<div class="modal fade" id="newAlbumModal" tabindex="-1" role="dialog" aria-labelledby="newAlbumModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newAlbumModalLabel"><i class="far fa-images"></i> Nuevo álbum</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-auto">
                    <div class="input-group">
                        <label for="inlineFormInputGroup">
                            <div class="input-group-prepend">
                                <div class="input-group-text">Nombre</div>
                            </div>
                        </label>
                        <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Ej. Album1">
                    </div>
                </div>
                <table class="table table-hover table-borderless">
                    <tbody>
                        <tr>
                            <td style="vertical-align: middle; width: 10%; padding-right: 3px">
                                <label for="img2"><img
                                        src="https://live.staticflickr.com/4561/38054606355_26429c884f_b.jpg"
                                        style="height: 50px;">
                                </label>
                            </td>
                            <td style="vertical-align: middle; padding-left: 2px">
                                <label for="img2">Imagen1</label>
                            </td>
                            <td align="right" style="vertical-align: middle; width: 10%">
                                <input type="checkbox" id="img2" style="display: block;">
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: middle; width: 10%; padding-right: 3px">
                                <label for="img2"><img
                                        src="https://4.img-dpreview.com/files/p/E~TS590x0~articles/3925134721/0266554465.jpeg"
                                        style="height: 50px;">
                                </label>
                            </td>
                            <td style="vertical-align: middle; padding-left: 2px">
                                <label for="img2">Imagen2</label>
                            </td>
                            <td align="right" style="vertical-align: middle; width: 10%">
                                <input type="checkbox" id="img2" style="display: block;">
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: middle; width: 10%; padding-right: 3px">
                                <label for="img2"><img
                                        src="https://qph.fs.quoracdn.net/main-qimg-0bf5ade627068fc659d57f9c38803151.webp"
                                        style="height: 50px;">
                                </label>
                            </td>
                            <td style="vertical-align: middle; padding-left: 2px">
                                <label for="img2">Imagen3</label>
                            </td>
                            <td align="right" style="vertical-align: middle; width: 10%">
                                <input type="checkbox" id="img2" style="display: block;">
                            </td>
                        </tr>

                    </tbody>
                </table>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Guardar</button>
                </div>
            </div>
        </div>
    </div>