<!-- Modal -->
<div class="modal fade" id="newGameModal" tabindex="-1" role="dialog" aria-labelledby="newGameModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newGameModalLabel"><i class="fas fa-gamepad"></i> Nuevo Juego</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="selectAlbum">
                    <h5>¿Qué álbum quieres usar?</h5>
                <table class="table table-hover table-borderless">
                    <tbody>
                        <tr>
                            <td style="vertical-align: middle" width="40%">Album1</td>
                            <td style="vertical-align: middle" width="30%" class="text-center">2 fotos</td>
                            <td style="vertical-align: middle" align="center">
                                <input type="radio" name="album">
                            </td>
                        </tr>
                        <tr>
                            <td style="vertical-align: middle" width="40%">Album2</td>
                            <td style="vertical-align: middle" width="30%" class="text-center">20 fotos</td>
                            <td style="vertical-align: middle" align="center">
                                <input type="radio" name="album">
                            </td>
                        </tr>
                    </tbody>
                </table>
                </div>
                <div class="selectPlayer">
                    <h5>¿Con quién quieres jugar?</h5>
                    <table class="table table-hover table-borderless">
                            <tbody>
                                <tr>
                                    <td style="vertical-align: middle; width: 10%; padding-right: 3px">
                                        <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80"
                                            style="height: 50px;">

                                    </td>
                                    <td style="vertical-align: middle; padding-left: 2px">Jugador2</td>

                                    <td align="right" style="vertical-align: middle; width: 10%">
                                        <input type="radio" name="player">
                                    </td>
                                </tr>
                                <tr>
                                    <td style="vertical-align: middle; width: 10%; padding-right: 3px">
                                        <img src="https://image.shutterstock.com/image-photo/picture-confused-young-man-dressed-260nw-553535785.jpg"
                                            style="height: 50px;">

                                    </td>
                                    <td style="vertical-align: middle; padding-left: 2px">Jugador3</td>

                                    <td align="right" style="vertical-align: middle; width: 10%">
                                        <input type="radio" name="player">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Enviar invitación</button>
            </div>
        </div>
    </div>
</div>