<h1 class="display-2 text-white">Adivina Quien — {{user.nombre}}</h1>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newGameModal"
  (click)="openNewGameModal()">
  Nuevo Juego
</button>
<table width="100%">
  <tbody>
    <tr>
      <td style="padding-right: 1%; vertical-align: top;">
        <div class="card border-success" id="fotos">
          <h5 class="card-header text-white" style="background-color: rgb(40, 167, 69);">
            <table width="100%">
              <td>
                <h3>Mis fotos</h3>
              </td>
              <td class="justify-content-end" style="text-align: right;">
                <button class="btn btn-outline-light" data-toggle="modal" data-target="#newImgModal"
                  (click)="openNewImgModal()">Añadir foto</button>
              </td>
            </table>
          </h5>
          <div class="card-body">
            <div *ngIf="fotos.length > 0" id="carouselImagenes" class="carousel slide panel-body"
              data-ride="carousel">
              <div class="carousel-inner" align="center">
                <div class="carousel-item active">
				  <img class="d-block rounded" src="{{fotos[0].url}}">
				  <p>{{fotos[0].name}}</p>
                  <button class="btn btn-danger deleteImg tooltip-test" title="Eliminar"
                    (click)="deleteFoto(fotos[0]._id)">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </div>
                <div class="carousel-item" *ngFor="let foto of fotos.slice(1)">
				  <img class="d-block rounded" src="{{foto.url}}">
				  <p>{{foto.name}}</p>
                  <button class="btn btn-danger deleteImg tooltip-test" title="Eliminar" (click)="deleteFoto(foto._id)">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </div>
              </div>
              <a class="carousel-control-prev bg-dark" href="#carouselImagenes" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next bg-dark" href="#carouselImagenes" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>

        <div class="card border-success" id="albums">
          <h5 class="card-header text-white" style="background-color: rgb(40, 167, 69);">
            <table width="100%">
              <td>
                <h3>Mis álbums</h3>
              </td>
              <td class="justify-content-end" style="text-align: right;">
                <button class="btn btn-outline-light" data-toggle="modal" data-target="#newAlbumModal"
                  (click)="openNewAlbumModal()">Nuevo álbum</button>
              </td>
            </table>
          </h5>
          <div class="card-body">
            <table class="table table-hover card-body">
              <thead>
                <tr>
                  <th style="vertical-align: middle" scope="col" class="align-middle text-center">
                    Nombre</th>
                  <th style="vertical-align: middle" scope="col" class="align-middle text-center">
                    Número de fotos</th>
                  <th scope="col"> </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let album of albums">
                  <td style="vertical-align: middle" width="40%">{{album.nombre}}</td>
                  <td style="vertical-align: middle" width="30%" class="text-center">{{album.fotos.length}}</td>
                  <td style="vertical-align: middle" align="center">
                    <button class="btn btn-success tooltip-test" title="Editar" data-toggle="modal"
                      data-target="#editAlbumModal" (click)="openEditAlbumModal(album._id)">
                      <i class="fas fa-edit"></i>
                    </button>
                    <button class="btn btn-danger tooltip-test" title="Eliminar" (click)="deleteAlbum(album._id)">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </td>
      <td width="30%" style=" vertical-align: top;">

        <div class="card bg-light text-center">
          <div class="card-body">
            <h4 class="card-title">{{user.nombre}}</h4>
            <p><img src="{{user.fotoPerfil}}" style="max-width: 400px; max-height: 400px;">
            </p>
            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#editUserModal"
              (click)="openEditUserModal()"><small>Editar</small></button>
          </div>
        </div>

        <div class="card border-info" style="width: 100%; margin-top: 5%;" id="historial">
          <label for="historialTablaInput">
            <h5 class="card-header text-white" style="background-color: rgb(22, 157, 178);">
              <table width="100%">
                <td>
                  Historial de juegos
                </td>
                <td class="justify-content-end" style="text-align: right;">
                  <i class="fas fa-plus"></i>
                </td>
              </table>
            </h5>
          </label>
          <input type="checkbox" id="historialTablaInput">
          <div class="card-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col" class="align-middle text-center">Usuario</th>
                  <th scope="col" class="align-middle text-center">Estatus</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let juego of juegos">
                  <tr *ngIf="juego.status">
                    <td class="text-center" style="vertical-align: middle">{{juego.jugador2.nombre}}</td>
                    <td align="center" style="vertical-align: middle">
                      <button class="btn btn-success" *ngIf="juego.ganador == user.email">
                        <i class="fas fa-trophy"></i>
                        Victoria
                      </button>
                      <button class="btn btn-danger" *ngIf="juego.ganador != user.email">
                        <i class="fas fa-window-close"></i>
                        Derrota
                      </button>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>

        <div class="card border-info" style="width: 100%; margin-top: 5%;" id="amigos">
          <label for="amigosTablaInput">
            <h5 class="card-header text-white" style="background-color: rgb(22, 157, 178);">
              <table width="100%">
                <td>
                  Mis amigos
                </td>
                <td class="justify-content-end" style="text-align: right;">
                  <i class="fas fa-plus"></i>
                </td>
              </table>
            </h5>
          </label>
          <input type="checkbox" id="amigosTablaInput">
          <div class="card-body">
            <table class="table table-hover table-striped">
              <tbody>
                <tr *ngFor="let amigo of amigos">
                  <td style="vertical-align: middle; width: 10%; padding-right: 3px">
                    <img src="{{amigo.fotoPerfil}}" style="height: 50px;">
                  </td>
                  <td style="vertical-align: middle; padding-left: 2px">{{amigo.nombre}}</td>

                  <td align="right" style="vertical-align: middle; width: 10%">
                    <button class="btn btn-danger tooltip-test" title="Eliminar" (click)="deleteFriend(amigo)">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="card bg-light">
              <div class="card-body">
                <div class="input-group mb-3">
                  <input class="form-control mr-sm-2" type="text" placeholder="Buscar por nombre o correo..."
                    [(ngModel)]="buscar">
                  <button class="btn btn btn-outline-info my-2 my-sm-0" type="submit" id="dropdownSearch"
                    (click)="buscarAmigo()">
                    Buscar
                  </button>
                </div>
                <div *ngIf="resBusquedaAmigos.length > 0">
                  <table class="table-striped table-condensed" width="100%" id="resultadoBusqueda">
                    <tbody>
                      <tr *ngFor="let res of resBusquedaAmigos">
                        <td style="vertical-align: middle; width: 10%; padding-right: 3px">
                          <img src="{{res.fotoPerfil}}" style="height: 50px;">
                        </td>
                        <td style="vertical-align: middle; padding-left: 2px">{{res.nombre}}</td>
                        <td align="right" style="vertical-align: middle; width: 10%">
                          <button class="btn btn-success tooltip-test" title="Agregar a mis amigos"
                            (click)="addFriend(res)">
                            Agregar
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card border-info" style="width: 100%; margin-top: 5%;" id="invitaciones">
          <label for="invitacionesTablaInput">
            <h5 class="card-header text-white" style="background-color: rgb(22, 157, 178);">
              <table width="100%">
                <td>
                  Juegos pendientes
                </td>
                <td class="justify-content-end" style="text-align: right;"><i class="fas fa-plus"></i>
                </td>
              </table>
            </h5>
          </label>
          <input type="checkbox" id="invitacionesTablaInput">
          <div class="card-body">
            <table class="table table-hover table-striped">
              <tbody>
                <ng-container *ngFor="let juego of juegos">
                  <tr *ngIf="!juego.status">
                    <td style="vertical-align: middle; width: 10%; padding-right: 3px">
                      <img src="{{juego.jugador2.fotoPerfil}}" style="height: 50px;">
                    </td>
                    <td style="vertical-align: middle; padding-left: 2px">{{juego.jugador2.nombre}}</td>

                    <td align="right" style="vertical-align: middle; width: 15%">
                      <!-- Modificar esto despues -->
                      <div class="row" routerLinkActive="active">
                        <a name="" id="" class="btn btn-success" href="#" role="button" title="Aceptar"
                          (click)="aceptarJuego(juego._id)" routerLink="/game/{{juego._id}}">
                          <i class="fas fa-check"></i>
                        </a>

                      </div>

                    </td>
                    <td align="right" style="vertical-align: middle; width: 15%">
                      <button class="btn btn-danger text-white" title="Rechazar" (click)="rechazarJuego(juego._id)">
                        <i class="fas fa-times"></i>
                      </button>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>

<!-- Modal nuevo juego -->
<div class="modal fade" id="newGameModal" tabindex="-1" role="dialog" aria-labelledby="newGameModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newGameModalLabel"><i class="fas fa-gamepad"></i> Nuevo Juego</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="selectAlbum">
          <h5>¿Qué álbum quieres usar?</h5>
          <table class="table table-hover table-borderless">
            <tbody>
              <ng-container *ngFor="let album of albums; let i = index">
                <tr *ngIf="album.fotos.length >= 5" (click)="newGameSelectedAlbum(album._id)">
                  <td style="vertical-align: middle" width="40%" [class.text-success]="newGame.album == album._id">
                    {{album.nombre}}</td>
                  <td style="vertical-align: middle" width="30%" class="text-center"
                    [class.text-success]="newGame.album == album._id">{{album.fotos.length}}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
        <div class="selectPlayer">
          <h5>¿Con quién quieres jugar?</h5>
          <table class="table table-hover table-borderless">
            <tbody>
              <ng-container *ngFor="let amigo of amigos">
                <tr (click)="newGameSelectedFriend(amigo.email)">
                  <td style="vertical-align: middle; width: 10%; padding-right: 3px">
                    <img src="{{amigo.fotoPerfil}}" style="height: 50px;">
                  </td>
                  <td style="vertical-align: middle; padding-left: 2px"
                    [class.text-success]="newGame.jugador2 == amigo.email">{{amigo.nombre}}</td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="crearJuego(newGame)" [disabled]="!newGameValid">Enviar
          invitación</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal nueva foto -->
<div class="modal fade" id="newImgModal" tabindex="-1" role="dialog" aria-labelledby="newImgModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newImgModalLabel"><i class="far fa-image"></i> Añadir foto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form action="" method="" enctype="multipart/form-data" #newImgForm="ngForm" (ngSubmit)="onUpload(newImgForm)">
          <div class="col-auto">
            <div class="input-group">
              <label for="inlineFormInputGroup">
                <div class="input-group-prepend">
                  <div class="input-group-text">Nombre</div>
                </div>
              </label>
              <input ngModel type="text" class="form-control" id="inlineFormInputGroup" placeholder="Ej. Imagen1"
                name="name" id="name">
            </div>
          </div>
          <div class="custom-file col-auto">
            <input type="file" ngModel (change)="onFileChanged($event)" class="custom-file-input" name="image"
              #fileInput>
            <label class="custom-file-label">Seleccionar archivo...</label>
          </div>
          <button class="btn btn-outline-info" type="submit">Añadir imagen</button>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal nuevo album -->
<div class="modal fade" id="newAlbumModal" tabindex="-1" role="dialog" aria-labelledby="newAlbumModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newAlbumModalLabel"><i class="far fa-images"></i> Nuevo álbum</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group">
          <label for="inlineFormInputGroup">
            <div class="input-group-prepend">
              <div class="input-group-text">Nombre</div>
            </div>
          </label>
          <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Ej. Album1"
            (input)="editIsValid()" [(ngModel)]="tempAlbum.nombre">
        </div>
        <table class="table table-hover table-borderless">
          <tbody>
            <tr *ngFor="let foto of tempAlbumFotos">
              <td style="vertical-align: middle; width: 10%; padding-right: 3px">
                <img src="{{foto.url}}" style="height: 50px;">
              </td>
              <td style="vertical-align: middle; padding-left: 2px">{{foto.name}}</td>

              <td align="right" style="vertical-align: middle; width: 10%">
                <button class="btn btn-danger tooltip-test" title="Eliminar" (click)="deleteFotoFromAlbum(foto._id)">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- <label for="agregarFotoInput" class="btn btn-info">Añadir foto</label>
        <input type="checkbox" id="agregarFotoInput"> -->
        <div class="alert alert-info text-center" role="alert">
          <strong>Añadir foto</strong>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Buscar imagen..." aria-label="Buscar"
                aria-describedby="basic-addon1" (input)="buscarImagen()" [(ngModel)]="buscar">
            </div>
            <table class="table table-hover table-borderless">
              <tbody>
                <tr *ngFor="let foto of resBusqueda">
                  <td style="vertical-align: middle; width: 10%; padding-right: 3px">
                    <img src="{{foto.url}}" style="height: 50px;">
                  </td>
                  <td style="vertical-align: middle; padding-left: 2px">{{foto.name}}</td>
                  <td align="right" style="vertical-align: middle; width: 10%">
                    <button class="btn btn-success tooltip-test" title="Agregar" (click)="addFotoToAlbum(foto._id)">
                      <i class="fas fa-plus"></i>
                    </button>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
        <div *ngIf="!editValid" class="alert alert-danger text-center" role="alert">
          El álbum debe tener un nombre y al menos 5 fotos.
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="crearAlbum()"
          [disabled]="!editValid">Crear álbum</button>
      </div>
    </div>
  </div>
</div>






<!-- Modal editar album -->
<div class="modal fade" id="editAlbumModal" tabindex="-1" role="dialog" aria-labelledby="editAlbumModalLabel"
  aria-hidden="true" *ngIf="tempAlbum != undefined">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editAlbumModalLabel">
          <i class="fas fa-edit"></i> Editar álbum
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre"
              aria-describedby="basic-addon1" [value]="tempAlbum.nombre" (input)="editIsValid()"
              [(ngModel)]="tempAlbum.nombre">
          </div>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <table class="table table-hover table-borderless">
          <tbody>
            <tr *ngFor="let foto of tempAlbumFotos">
              <td style="vertical-align: middle; width: 10%; padding-right: 3px">
                <img src="{{foto.url}}" style="height: 50px;">
              </td>
              <td style="vertical-align: middle; padding-left: 2px">{{foto.name}}</td>

              <td align="right" style="vertical-align: middle; width: 10%">
                <button class="btn btn-danger tooltip-test" title="Eliminar" (click)="deleteFotoFromAlbum(foto._id)">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- <label for="agregarFotoInput" class="btn btn-info">Añadir foto</label>
        <input type="checkbox" id="agregarFotoInput"> -->
        <div class="alert alert-info text-center" role="alert">
          <strong>Añadir foto</strong>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Buscar imagen..." aria-label="Buscar"
                aria-describedby="basic-addon1" (input)="buscarImagen()" [(ngModel)]="buscar">
            </div>
            <table class="table table-hover table-borderless">
              <tbody>
                <tr *ngFor="let foto of resBusqueda">
                  <td style="vertical-align: middle; width: 10%; padding-right: 3px">
                    <img src="{{foto.url}}" style="height: 50px;">
                  </td>
                  <td style="vertical-align: middle; padding-left: 2px">{{foto.name}}</td>
                  <td align="right" style="vertical-align: middle; width: 10%">
                    <button class="btn btn-success tooltip-test" title="Agregar" (click)="addFotoToAlbum(foto._id)">
                      <i class="fas fa-plus"></i>
                    </button>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
        <div *ngIf="!editValid" class="alert alert-danger text-center" role="alert">
          El álbum debe tener un nombre y al menos 5 fotos.
        </div>
      </div>
      <div class="modal-footer">

        <div>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="saveEditAlbum()"
            [disabled]="!editValid">Guardar cambios</button>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- Modal editar usuario -->
<div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editUserModalLabel"><i class="far fa-image"></i> Editar usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-auto">
          <div class="input-group">
            <label for="inlineFormInputGroup">
              <div class="input-group-prepend">
                <div class="input-group-text">Nombre</div>
              </div>
            </label>
            <input type="text" class="form-control" id="inlineFormInputGroup">
          </div>
        </div>
        <button class="btn btn-outline-info">Cambiar nombre de usuario</button>



        <form action="" method="" enctype="multipart/form-data" #profileImgForm="ngForm"
          (ngSubmit)="onUploadProfile(profileImgForm)">
          <div class="custom-file col-auto">
            <input type="file" ngModel (change)="onFileChanged($event)" class="custom-file-input" name="image"
              #fileInput>
            <label class="custom-file-label">Seleccionar archivo...</label>
          </div>
          <button class="btn btn-outline-info" type="submit">Cambiar imagen</button>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal aviso de error para borrar el album-->
<div class="modal fade" id="errorDeleteAlbumModal" tabindex="-1" role="dialog"
  aria-labelledby="errorDeleteAlbumModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="errorDeleteAlbumModalLabel">
          <i class="fas fa-exclamation-triangle"></i> No se puede borrar este álbum
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Hay juegos pendientes con este álbum!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>
