
<div class="our-webcoderskull">
    <div class="row heading heading-icon">
        <h2 id="vsRival">VS {{contrincante.nombre}}</h2>
      </div>
      <div class="container" style="width: 50%;">
    
    <div class="row ul">
      <!-- Formato del display de imagenes -->

      <div *ngFor="let e of album" class="li">
        <div class="cnt-block equal-hight" (click)='seleccionarImagen(e)'>
          <img src="{{e.url}}" class="img-responsive" alt="" style="vertical-align: middle;">
        </div>
      </div>
      <!-- Fin Formato -->
    </div>

  </div>



  <div class="popup-box chat-popup popup-box-on">
    <div class="popup-head">
      <div class="popup-head-left pull-left"><img src="{{contrincante.fotoPerfil}}"
          alt="foto de perfil">   {{contrincante.nombre}}</div>
    </div>
    <div class="popup-messages">
      <div class="direct-chat-messages" id="chat">

        <!-- Formato Chat -->


        <div class="direct-chat-msg" *ngFor="let item of msgChat">
          <div class="direct-chat-info clearfix">
            <span class="direct-chat-name pull-left" *ngIf="item.recibida==true">{{contrincante.nombre}}</span>
            <span class="direct-chat-name pull-left" *ngIf="item.recibida!=true">{{jugador.nombre}}</span>
          </div>
          <!-- /.direct-chat-info -->
          
          <img *ngIf="item.recibida==true" alt="fotorival" src="{{contrincante.fotoPerfil}}" class="direct-chat-img"><!-- /.direct-chat-img -->
          <img *ngIf="item.recibida==false" alt="fotojugador" src="{{jugador.fotoPerfil}}" class="direct-chat-img"><!-- /.direct-chat-img -->
          <div class="direct-chat-text">
            {{item.pregunta}} <br>
          </div>

          <!-- <div class="direct-chat-info clearfix">

            <span class="direct-chat-img-reply-small pull-left">

            </span>
          </div> -->
        </div>
        <!-- Fin Formato chat -->
      </div>
    </div>
    <div class="popup-messages-footer">
      <button type="button" name="yes" class="btn btn-outline-primary" (click)="enviarRespuesta('yes')">Si</button>
      <button type="button" name="no" class="btn btn-outline-danger" (click)="enviarRespuesta('no')">No</button>
      <textarea id="message" placeholder="Type a message..." rows="10" cols="40" name="message" [(ngModel)]="msgSend"
        (keydown)="enviarMensaje($event)"></textarea>
    </div>
  </div>

<div class="fixed-box">
<div class="display-box">
    <h4 style="text-align: center;">Tu oponente debe adivinar esta imagen: </h4>
    <div class="cnt-block-oponente equal-hight" style="background-color: #3f9684;">
      <img id="selectedImg" src="{{myImg.url}}" class="img-responsive" alt="">
      
    </div>
  </div>
<div class="selection-box" style="text-align: center">
    <h4 style="text-align: center;">Esta es tu selección: </h4>
    <div class="cnt-block-selection equal-hight" style="background-color: #3f9684;">
      <img id="selectedImg" src="{{selectedImg.url}}" class="img-responsive" alt="">
      
    </div>
    <div style="text-align: center;">
      <button type="button" id="guess" class="btn btn-outline-primary" (click)="enviarGuess()">Adivinar</button>
    </div>
  </div>
  
</div>

  
</div>
